@media only screen and (max-height: 524px) {
	.left {
		position: sticky;
		height: 100%;
	}
}

@media only screen and (max-width: 750px) {
	/* This portion is mainly for the home screen */
	.home-welcome .abt-me {
		width: 100%;
	}
	.home-welcome .services > div {
		display: flex;
		flex-wrap: wrap;
	}
}

@media only screen and (max-width:830px) {
	* {
		transform: none !important;
	}
	/* For Home pages */
	.left {
		display: none;
	}
	.home-welcome {
		margin-bottom: 50px;
	}

	/* For the blogs page */
	/* .blogs is for the main blog page, while .blog is for the singular blog pages */

	.blogs {
		width: 100%;
		margin:  20px 20px 50px;
	}
	.blogs .post {
		max-height: 300px;
		word-wrap: break-word;
		overflow: hidden;
	}
	.blogs .post:not(:first-child) {
		margin-top: 20px;
	}
	.topNav {
		display: block;
	}
	.blog {
		margin-bottom: 50px;
	}
	.blog .post {
		margin: 0;
		font-size: 18px;
	}


	/*For contact page */
	.contact {
		width: 80%;
	}


	/* This footer displays when the side section is no longer visible */
	.main-footer {
		position: fixed;
		width:  100%;
		display: block;
		text-align: center;
		padding: 10px;
		color:  white;
		background-color: #0f0d33;
		bottom:  0;
	}
	.main-footer a {
		color: #f9cb3e;
	}


	/* For Deeesigns Pages */
	.main-content {
		margin: 0;
		width: 100%;
		height: 80vh;
	}
	.brand h2 {
		font-size: 16px;
	}
	.nav-links {
		display: none;
	}
	.toggle {
		display: block;
	}
	.right {
		padding-top: 35px;
	}
	.right .smallScreen {
		display: flex !important;
		justify-content: space-around;
		padding: 10px;
	}
	.smallScreen a {
		color: white;
	}
	.right #nav-links-toggle {
		position: fixed;
		top: 43px;
	}
	.right #nav-links-toggle a {
		color: white;
		background-color: #0f0d33;
	}

	.main-section {
		height: 80vh;
		width: 100%;
		margin: 0;
	}
	.landpage h1 {
		font-size: 40px;
	}
	#portfolio-section {
		margin-top: 20px;
	}
	.portfolio-nav {
		position: initial;
		padding-top: 30px;
	}
	.view-categories {
		/* display: none; */
		text-align: center;
		width: 100%;
	}
	.view-categories button {
		font-size: 12px;
		width: 70px;
		margin: 1px 0;
	}
	.contact {
		margin-bottom: 50px;
	}
	.dsign-footer {
		font-size: 1rem;
		padding: 16px;
	}
}
