@font-face {
	font-family: nunito;
	src: url(./fonts/Nunito-Light.ttf);
}

:root {
	--mainPurple: #0f0d33;
	--mainYellow: #f9cb3e;
}



html {
	scroll-behavior: smooth;
}
* {
	/* font-family: "century gothic"; */
	font-family: 'nunito';
	box-sizing: border-box;
	letter-spacing: 0.5px;
	transition: 300ms;
	outline: 0;
}
a {
	text-decoration: none;
}
body {
	margin:0;
	padding:0;
	background-size: cover;
	background-repeat: no-repeat;
	/* height: 100vh; */
	
}
ul {
	list-style-type: none;
}
.shortHr {
	width: 100px;
	border: 0.5px solid var(--mainPurple);
}

/* Button to go to main page */
.toDillion {
	position: fixed;
	color:  white;
	background-color: var(--mainPurple);
	padding: 10px;
	border-radius: 10px;
	margin: 2px 0 0 1%;
	display: block;
	font-weight: bold;
	z-index: 2;
	border:  1px solid white;
}
.toDillion:hover {
	transform: scale(1.1);
}



/* To display links on smaller screens  */
.toggle {
	display: none;
	cursor: pointer;
	color:  white;
	transform: scale(1.3);
	padding:  0;
	margin: 0;
}
#nav-links-toggle {
	top: 50px;
	width: 100%;
	position: absolute;
	display: none;
	z-index: 2;
}
#nav-links-toggle a {
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px;
	background-color: white;
	border-bottom: 1px solid #aaa;
}
#nav-links-toggle a:hover {
	background-color: #055185;
	color: white;
}

.main-nav, .main-nav a {
	color:white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* If links are not active */
.nav-links a {
	opacity: .7;
	color: white !important;
}
.main-nav .logo {
	width: auto;
	height: 35px;
	margin-right: 10px;
}
.nav-links a:hover, .nav-links .active{
	opacity: 1;
}
.nav-links {
	display: flex;
}
.nav-links .links {
	padding: 10px;
}
.main-section {
	background-color:white;
	width: 90vw;
	margin: 0 5vw 0 5vw;
	height:80vh;
	overflow-y: auto;
	text-align: center;
	color: grey;
	/* box-shadow: 0px 1px 10px; */
}


.landpage {
	width:100%;
	height:100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.landpageSmall {
	height: 70% !important;
}
.landpage h1 {
	color: white;
	margin:0;
	font-size: 60px;	
}
.landpage p {
	color: white;
	font-size: 30px;
	margin-top: 0;
}

.toContact {
	justify-self: flex-end;
	position: relative;
	padding:10px;
	background-color:white;
	border-radius: 5px;
}
.toContact:hover {
	background-color: var(--mainPurple);
	color: white;
}
.content {
	/* height: 100%; */
	padding-top:20px;
}
.content h2 {
	font-size: 30px;
}
.content h3 {
	font-size: 25px;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.services-list .service {
	width: 300px;
	min-width: 200px;
	height: 200px;
	min-height: 100px;
	margin: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--mainYellow);
}
.services-list .service:hover {
	box-shadow: 1px 2px 20px rgb(0, 0, 0, .3);
;}
.services-list .service .illustration {
	height: calc(100% - 40px);
	width: 100%;
	background-color: #eee;
}
.services-list .service .illustration img {
	object-fit: cover;
	width: 100%;
	height: 100%;	
}





.gallery-nav {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #ddd;	
	align-items:center;
	position: fixed;
	width: inherit;
	z-index: 1;
}
.gallery-nav button {
	border-radius: 20px;
	border: 0;
	background-color:transparent;
	color:grey;
	font-size: 18px;
	cursor: pointer;
	width:100px;
	height: 35px;
}
.gallery-nav button:hover, .gallery-nav .activeTag {
	color: #055185;
	background-color: white;
}
.gallery-nav a button {
	background-color: #055185;
	color: white;
}

/* This div is for home and gallery page */
#gallery-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top:80px;
}

/* For the home alone */
#gallery-section h3 {
	width: 100%;
	margin: 0;
}

.view-more {
	width: 200px;
	background-color: white;
	border-radius:20px;
	padding: 10px;
	color: white;
	color: var(--mainPurple);
	font-weight: bold;
}
.view-more:hover {
	background-color: var(--mainPurple);
	color: white;
	font-weight: normal;
}

/* Also appplies to home page */
.galleryLg {
	width: 300px;
	height: 300px;
	padding: 20px;
}
.galleryLg img {
	width: 100%;
	height:100%;
	object-fit: cover;
	box-shadow: 1px 1px 1px rgb(0,0,0, .1)
}
.gallery img:hover, .galleryLg img:hover {
	transform: translateY(-10px);
	box-shadow: 10px 10px 5px rgb(0,0,0, .1);
	transform: scale(1.2);	
	border: 1px solid rgb(0, 0, 0, .1);
}
.toBrand {
	color: var(--mainPurple);
	border-radius: 20px;
	padding: 10px;
	font-weight: bold;
}
.toBrand:hover {
	background-color: var(--mainPurple);
	color: white;
	font-weight: normal;
}
/*	
#modal-container {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	top: 0;
	margin-top: 25vh;
	transform: scale(0);
	transition: 1000ms !important;
	
	
} */
/* .modal {
	width: 430px;
	height: 430px;
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 1px 1px 1000px 1000px rgb(0, 0, 0, .5);
	border: 1px solid #ccc;
} */

/* Testimonials */
.testimonials {
	/* background-color: #83b8fa; */
	width: 100%;
	/* height: 400px; */
	padding-top: 20px;
	/* color: white; */
}
.testifier {
	margin-top: 30px;
}
.testifier .name {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.testimony {
	max-width: 600px;
	margin: auto;
	text-align: center;
	font-size: 20px;
	letter-spacing: -1px;
	padding: 0 10px;
}

/* For the about page */

.abt_dsigns {
	display: flex;
	margin: 0 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
}
.abt_dsigns p {
	max-width: 500px;
}



/* The subfooter containing other options */
.sub-footer{
	display: flex;	
	background-color: var(--mainPurple);
	color: white;
	width: 100%;
	justify-content: center;
	margin-top: 50px;
}
.sub-footer a:not(:last-child) {
	color:  white !important;
}

.hire {
	border-radius: 20px 20px 0 0;
	background-color: var(--mainYellow);
	/* padding: 10px; */
	height: 40px;
	width: 100px;
	line-height: 40px;
	display: inline-block;
	color: 	var(--mainPurple);
	font-weight: bold;
}
.hire:hover {
	background-color: var(--mainPurple);
	color: var(--mainYellow);
}




/* Branding Page */
.breadcrumb {
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #eee;
	margin: 0;
	height: 110px;
	line-height:110px;
}
.display-brand {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.pictures, .description {
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.pictures {
	max-width: 350px;
}
.pictures .logo, .pictures .mockup {
	height: 220px;
	border: 1px solid rgb(0, 0, 0, .1);
	margin-top: 20px;
}
.pictures img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.description {
	text-align: left;
	width: 500px;
}
.description p {
	font-size: 18px;
}

.dsign-footer {
	text-align: center;
	color: #055185;
	font-weight: bold;
	padding: 10px;
	font-size: 16px;
	background-color: var(--mainYellow);
}